@using RelayMotorInsuranceCalculator.DAL.Entities
@model RelayMotorInsuranceCalculator.ViewModels.MotorInsurance.PremiumCalculatorVm

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
    <script>
        function AddDriver() {
            $.ajax({
                url: '/MotorInsurance/AddDriver',
                type: "POST",
                data: $("#Form").serialize(),
                success: function (data) {
                    $('#Drivers').html(data);

                    $('.datepicker').datetimepicker({
                        format: 'L',
                        locale: 'en-gb',
                        showTodayButton: true
                    });
                }
            });
        }

        function RemoveDriver(index) {
            $.ajax({
                url: '/MotorInsurance/RemoveDriver',
                type: "POST",
                data: $("#Form").serialize() + "&index=" + index,
                success: function (data) {
                    $('#Drivers').html(data);

                    $('.datepicker').datetimepicker({
                        format: 'L',
                        locale: 'en-gb',
                        showTodayButton: true
                    });
                }
            });
        }

        function AddClaim(index) {
            $.ajax({
                url: '/MotorInsurance/AddClaim',
                type: "POST",
                data: $("#Form").serialize() + "&index=" + index,
                success: function (data) {
                    $('#Drivers').html(data);

                    $('.datepicker').datetimepicker({
                        format: 'L',
                        locale: 'en-gb',
                        showTodayButton: true
                    });
                }
            });
        }

        function RemoveClaim(driver, claim) {
            $.ajax({
                url: '/MotorInsurance/RemoveClaim',
                type: "POST",
                data: $("#Form").serialize() + "&driver=" + driver + "&claim=" + claim,
                success: function (data) {
                    $('#Drivers').html(data);

                    $('.datepicker').datetimepicker({
                        format: 'L',
                        locale: 'en-gb',
                        showTodayButton: true
                    });
                }
            });
        }

        function Calculate() {
            $.ajax({
                url: '/MotorInsurance/Calculate',
                type: "POST",
                data: $("#Form").serialize(),
                success: function (data) {
                    $('.datepicker').datetimepicker({
                        format: 'L',
                        locale: 'en-gb',
                        showTodayButton: true
                    });
                    ShowAlert(data.messageType, data.message);
                }
            });
        }
    </script>
}


<div class="row">
    <h2>Motor Insurance Premium Calculation</h2>
</div>
@using (Html.BeginForm("Calculate", "MotorInsurance", FormMethod.Post, new { id = "Form" }))
{
    @Html.EditorFor(o => o)
    <div class="row">
        <div class="col-md-2">
            Policy Start Date
        </div>
        <div class='col-md-3'>
            <div class="form-group">
                <div class='input-group date datepicker'>
                    @Html.EditorFor(o => o.Policy.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="Drivers">
            @Html.Partial("_Drivers")
        </div>
    </div>
    <div class="row">
        <div id="message"></div>
        <div class="pull-right col-md-2">
            <button class="btn btn-default btn-success" onclick="Calculate()" type="button">Calculate</button>
        </div>
    </div>
}

