@model RelayMotorInsuranceCalculator.ViewModels.MotorInsurance.DriverVm

<div class="row" style="margin-bottom: 15px">
    <div class="col-md-4" style="margin-top: 7px">
        Name
    </div>
    <div class="col-md-6">
        @Html.EditorFor(o => o.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(o => o.Name, "", new { @class = "text-danger", style = "margin-top:7px" })
    </div>
</div>
<div class="row" style="margin-bottom: 15px">
    <div class="col-md-4" style="margin-top: 7px">
        Occupation
    </div>
    <div class="col-md-6">
        @Html.EnumDropDownListFor(o => o.Occupation, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Occupation, "", new { @class = "text-danger", style = "margin-top:7px" })
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="margin-top: 7px">
        Date of Birth
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class='input-group date agedatepicker'>
                @Html.EditorFor(o => o.DateOfBirth, new {htmlAttributes = new {@class = "form-control"}})
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        @Html.ValidationMessageFor(o => o.DateOfBirth, "", new { @class = "text-danger" })
    </div>
</div>